/* src/App.css */

.App {
  max-width: 1200px; /* Adjust max width as needed */
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next row */
  justify-content: space-between; /* Distributes space between cards */
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Space around each card */
  padding: 20px;
  flex: 1 0 calc(33.333% - 20px); /* Three cards per row, accounting for margins */
  box-sizing: border-box; /* Ensures padding and borders are included in total width */
  transition: transform 0.2s;
}

.post:hover {
  transform: scale(1.02);
}

.post h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.post p {
  font-size: 1rem;
  color: #555;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 16px;
  border: 1px solid #ddd;
  color: #007bff;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s;
}

.page-link:hover {
  background-color: #f0f0f0;
}
li.page-item{
  display: block;
  background-color: #007bff;
}
.page-item.active .page-link {
  background-color: #28a745; /* New active background color (green) */
  color: #fff; /* Text color for active page */
  border-color: #28a745; /* Border color for active page */
}
.button.page-link {
  background-color: #007bff;
}